# . files
.ipynb_checkpoints
.idea
.env
.coverage
.vscode
.pytest_cache

# Tests - obtain them from the repo
tests
tests/**

# logging
*.log

# testing
hidden_*
hidden-*
# nox files
*.egg-info
build
.nox
.benchmarks
.python-version

# cache:
__pycache__